<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <div v-if="showContent">
            <ul>
                <li v-for='(user, index) in users' :key='index'>
                    {{ index }} - {{ user.name }} <br>
                    <span>age: {{ user.age  }} / mail: {{  user.mail  }}</span>
                </li>
            </ul>
        </div>
        <button @click="getContent">Бум</button>
    </div>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                title: 'Data',
                showContent: true,
                // user: {
                //     name: 'Jack',
                //     mail: 'info@gg.ru'
                // },
                users: [
                    {name: 'jack', mail: 'pep@gg.rup', age: '23'},
                    {name: 'wolf', mail: 'p123ep@gg.rup', age: '43'},
                    {name: 'mark', mail: 'peerep@gg.rup', age: '55'},
                ]
            },
            methods: {
                getContent () {
                    this.showContent = !this.showContent;
                }
            }
        })
    </script>
</body>
</html>